<!-- As a heading -->
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand mb-0 h1" routerLink=".">Asset Manager</a>
        <div class="navbar-nav" *ngIf="$login | async">
            <a class="btn btn-light" routerLink="aset">Aset</a>
        </div>
        <div class="navbar-nav ms-auto">
            <button class="btn btn-light" *ngIf="$login | async" (click)="logout()"><i
                    class="bi bi-box-arrow-right"></i></button>
        </div>
    </div>
</nav>