<div class="container-fluid" *ngIf="asset">
    <div class="row">
        <div class="col-3">
            <h3>Nama</h3>
            <h3>Mata Uang</h3>
        </div>
        <div class="col-9">
            <h3>: {{asset.name}}</h3>
            <h3>: {{asset.currency}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <button class="btn btn-primary" (click)="doEdit()">
                <span *ngIf="!edit">Edit</span>
                <span *ngIf="edit">Simpan</span>
            </button>
        </div>
        <ng-container *ngIf="edit">
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" >Dari</span>
                    <input type="number" class="form-control" min="1900" max="2900" step="1" [(ngModel)]="fromYear" (change)="changeRow()">
                    <select class="form-control" [(ngModel)]="fromMonth" (change)="changeRow()">
                        <option [ngValue]="0">Januari</option>
                        <option [ngValue]="1">Februari</option>
                        <option [ngValue]="2">Maret</option>
                        <option [ngValue]="3">April</option>
                        <option [ngValue]="4">Mei</option>
                        <option [ngValue]="5">Juni</option>
                        <option [ngValue]="6">Juli</option>
                        <option [ngValue]="7">Agustus</option>
                        <option [ngValue]="8">September</option>
                        <option [ngValue]="9">Oktober</option>
                        <option [ngValue]="10">November</option>
                        <option [ngValue]="11">Desember</option>
                    </select>
                </div>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <i class="bi bi-arrow-right "></i>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <span class="input-group-text" >Ke</span>
                    <input type="number" class="form-control" min="1900" max="2900" step="1"  [(ngModel)]="toYear" (change)="changeRow()">
                    <select class="form-control" [(ngModel)]="toMonth" (change)="changeRow()">
                        <option [ngValue]="0">Januari</option>
                        <option [ngValue]="1">Februari</option>
                        <option [ngValue]="2">Maret</option>
                        <option [ngValue]="3">April</option>
                        <option [ngValue]="4">Mei</option>
                        <option [ngValue]="5">Juni</option>
                        <option [ngValue]="6">Juli</option>
                        <option [ngValue]="7">Agustus</option>
                        <option [ngValue]="8">September</option>
                        <option [ngValue]="9">Oktober</option>
                        <option [ngValue]="10">November</option>
                        <option [ngValue]="11">Desember</option>
                    </select>
                </div>
            </div>
        </ng-container>

    </div>
    
    <table class="table table-sm table-bordered mt-2" *ngIf="edit">
        <thead>
            <tr>
                <th>Tahun</th>
                <th>Bulan</th>
                <th>Nilai</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of this.inputRows">
                <td>{{row.year}}</td>
                <td>{{util.numberToMonth(row.month)}}</td>
                <td>
                    <input type="number" class="form-control" [(ngModel)]="row.amount">
                </td>
            </tr>
        </tbody>
    </table>
</div>